{{define "header"}}
<header class="header">
	<div class="container d-flex justify-content-center h-100">
		<nav class="navbar">
			<div class="navbar-item">
				<a href="/ranger" class="navbar-item__menu">Rangers</a>
			</div>
			<div class="navbar-item">
				<a href="/" class="navbar-item__logo">
					<img src="/assets/img/logo.svg" alt="Power Rangers" width="200px" />
				</a>
			</div>
			<div class="navbar-item">
				<a href="/ranger/new" class="navbar-item__menu">Be a Ranger</a>
			</div>
		</nav>
	</div>
</header>
{{end}}
